*{
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0; box-sizing: border-box; text-decoration: none;
    outline: none; border: none; text-transform: capitalize; transition: all .2s linear;
}

*::selection{
    background: rgb(5, 173, 5);
    color: #333;
}

html {
    font-size: 62.6%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1.4rem;
}

html::-webkit-scrollbar-track {
    background: #222;
}

html::-webkit-scrollbar-thumb {
    background: rgb(5, 173, 5);
}

body {
    background: #111;
    overflow-x: hidden;
    padding-left: 35rem;
}

section {
    min-height: 100vh;
    padding: 1rem;
}

.btn {
    padding: .7rem 3rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn i{
    padding: 0 .5rem;
    font-size: 1.8rem;
}

.btn:hover {
    background: rgb(5, 173, 5);
}

.heading {
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .1rem solid #fff4;
    color: #fff;
}

.heading:hover {
    transform: skew(10deg) scale(1.1);
    
}

.heading span {
    color: rgb(5, 173, 5);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background: #141414;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    animation: moveInLeft .1s ease-out;
    transition: all .1s;
}

header .user img {
    height: 17rem;
    width: 17rem;
    border-radius: 50%; 
    object-fit: cover;
    margin-bottom: 1rem;
    border: .3rem dashed rgb(5, 173, 5);    
    animation: drop .9s ease-in-out 1s 2;
    transition: all .2s;
    margin-top: 20px;
}

IMG:hover {
    transform: scale(2.2);
}

header .user .name {
    font-size: 3.5rem;
    background-image: linear-gradient(to right, rgb(11, 167, 11), rgb(13, 77, 13));
    -webkit-background-clip: text;
    color: transparent;
    animation: bottom .9s ease-in 1s 2;
    margin-top: 50px;
}

header .user .name:hover {
    transform: skew(20deg) scale(1.5);
}

header .user .post {
    font-size: 2rem;
    color: #eee;
    animation: bottom .9s ease-in-out 1s 2;
}

header .user .post:hover {
    transform: scale(1.5);
}

header .navbar {
    width: 100%;
    margin-top: 30px;
}

header .navbar ul {
    list-style: none;
    padding: 1rem 3rem;
}

header .navbar ul li a {
    display: block;
    padding: 1rem;
    margin: 1.5rem;
    background: #333;
    color: #fff;
    font-size: 2rem;
    border-radius: 5rem;
}

header .navbar ul li a:hover {
    background-color: rgb(5, 173, 5);
}

#menu {
    position: fixed;
    top:2rem;
    right: 2rem;
    background: #333;
    color: aqua;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.times {
    position: fixed;
    top:2rem;
    right: 2rem;
    background: #333;
    color: aqua;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}


.home {
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
}

.home h3 {
    font-size: 2.5rem;
    color: #fff;

}

.home h1 {
    font-size: 5rem;
    color: #fff;
}

.home h1 span {

    color: rgb(5, 173, 5);
}

.home p{
    font-size: 2rem;
    color: #eee;
}

.about .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.about .row .info {
    flex: 1 1 43rem;
    padding: 2rem 1rem;
    padding-left: 6rem;
    align-content: center;
    margin-top: 80px;
}

.about .row .info h3{
    font-size: 2rem;
    color: rgb(5, 173, 5);
    padding: 1rem 0;
    font-weight: normal;
}

.about .row .info h3 span {
    color: #eee;
    padding: 0 .5rem;
}

.about .row .counter {
    flex: 1 1 43rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 80px;
}

.about .row .counter .box {
    width: 20rem;
    background: #222;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
}

.about .row .counter .box span {
    font-size: 4rem;
    color: rgb(5, 173, 5);
}

.about .row .counter .box h1 {
    font-size: 2rem;
    color: #fff;
}

.education .box-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 1rem;
}

.education .box-container .box {
    width: 27rem;
    margin: 4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #fff;
    position: relative;
}

.education .box-container .box span{
    font-size: 1.2rem;
    background: #222;
    color: #fff;
    border-radius: 5rem;
    padding: .5rem 2.5rem;
}

.education .box-container .box h3 {
    font-size: 2rem;
    color: #fff;
    padding-top: 1.5rem;
}

.education .box-container .box p {
    font-size: 1.4rem;
    color: #eeeb;
    padding-top: 1rem 0;
}

.education .box-container .box i {
    position: absolute;
    top: -1.5rem;
    left: -2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background: rgb(5, 173, 5);
}

.contact .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content {
    flex: 1 1 30rem;
    padding: 4rem;
    padding-bottom: 0;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
}

.contact .row form .box {
    padding: 1.5rem;
    margin: 1rem 0;
    background: #3333;
    color: #fff;
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
}

.contact .row form .box::placeholder {
    text-transform: capitalize;
}

.contact .row form .message {
    height: 15rem;
    resize: none;
}

.contact .row .content .title {
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #eee;
    padding: 1rem 0;
    font-weight: normal;
}

.contact .row .content .info h3 i {
    padding-right: 1rem;
    color: rgb(5, 173, 5);
}


@keyframes drop{

    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }

    80% {
        opacity: 1;
        transform: rotate(180deg);
    }

    100% {
        opacity: 1;
        transform: translateY(5rem);
    }

}

@keyframes bottom{

    0% {
        opacity: 0;
        transform: translateY(10rem);
    }

    80% {
        opacity: 1;
        transform: rotate(180deg);
    }

    100% {
        opacity: 1;
        transform: translateY(-5rem);
    }

}

@keyframes moveInLeft{

    0% {
        opacity: 0;
        /* transform: translateX(-10rem); */
    }

    /* 80% {
        opacity: 1;
        transform: rotate(180deg);
    } */

    100% {
        opacity: 1;
        transform: translateX(5rem);
    }

}










/* media queries */

@media (max-width:1200px) {

    html {
        font-size: 55%;
        
    }
    
    .home {
        padding: 1rem;
    }

}

@media (max-width:991px) {

    header {
        display: none;
    }   

    body {
        padding: 0;
    }

    #menu {
        display: block;
    }

    .times {
        display: none;
    }

}

@media (max-width:768px) {

    html {
        font-size: 50%;
    }

}

@media (max-width:400px) {

    header {
        width: 100vw;
        margin-top: 50px;
        
    }
    
    .heading {
        margin: 0 3rem;
    }

    .about .row .counter .box {
        width: 100%;
    }

    .education .box-container .box {
        width: 100%;
    }

    .contact .row form {
        margin: 1rem 0;
    }

}